{# plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/tapaForm.html.twig' %}
{# TITULO DE LA PAGINA #}
{% block titulo %}Crear Nuevo ingrediente{% endblock %}

{# CONTENIDO #}
{% block contenido %}
<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Crear nuevo ingrediente</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
