{# plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}

{# TITULO DE LA PAGINA #}
{% block titulo %}Categoria{% endblock %}

{# CONTENIDO #}
{% block contenido %}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Todas las categorias
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src={% if categoria.foto|length > 0 %}"{{ asset(tapaImg~categoria.foto) }}"{% else %}"http://placehold.it/700x400"{% endif %} alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">{{ categoria.nombre }}</h3>
            <p>{{ categoria.descripcion}}</p>
        </div>

        </div>
        <!-- /.row -->

        

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}